#wrap {background-color: gray;}
/* header */
#wrap header {
    background-color:aqua;
}
#wrap header h1 {
    
}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    background-color: yellow;
}
#wrap header nav ul {}
#wrap header nav ul li {}
#wrap header nav ul li a {
    font-size: 1.13rem;
    font-weight: 600;
}
#wrap header .right_menu {
    background-color: lime;
}
#wrap header .right_menu > a {}
#wrap header .right_menu ul {}
#wrap header .right_menu ul li {}
#wrap header .right_menu ul li a {}
#wrap header .right_menu ul li a img {}
/* ==================================== main */
#wrap main {
    background-color: beige;
}
#wrap main .path {
    background-color:#f9f9f9;
    padding: 11.5px 80px 11.5px 0;
    text-align: right;
}
#wrap main .path a {
    font-size: 0.88rem;
}
#wrap main .path em {
    font-size: 0.88rem;
    font-weight: 600;
}
#wrap main .path img {
    margin: 0 12px; /* img만 여백.크기 가능 */
    position: relative;
    top:2.5px;
}
#wrap main h1 {
    font-size: 3.13rem;
    font-weight: 700;
    margin: 44px 0 49px 0;
    text-align: center;
    font-weight: 700;
}
#wrap main > p {
    font-size: 1.13rem;
    margin-bottom: 47px;
    text-align: center;
    color: #555
}
#wrap main .bg {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}
#wrap main .bg p {
    font-size: 1.13rem;
    line-height: 1.5;
    margin-bottom: 60px;
}

#wrap main .bg p:nth-child(1) {
    line-height: 1.0;
}

#wrap main .bg h2 {
    font-size: 1.38rem;
    font-weight: 600;
    line-height: 1.5;
    color: #36B4E5;
    margin-bottom: 20px;
    text-transform: capitalize;
}
#wrap main .bg h2:nth-of-type(4) {
    text-transform: uppercase;
}
#wrap main .bg p:nth-child(5) {
    margin-bottom: 50px;
    /* background-color: #555; */
}
#wrap main .bg p em {
    font-size: 1.88rem;
    font-weight: 500;
    line-height: 1.5; /* em에 reset값이 적용돼서 상속안댐 */
}

#wrap main .bg .goal_contents {
    margin-bottom: 60px;
}
#wrap main .bg .goal_contents li {
    font-size: 1.63rem;
    line-height: 1.5;
    font-weight: 500;
    color: #FFFFFF;
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    margin-left: -10px; /* -10% 옆으로 */
    padding-top: 80.5px;
    /* box-sizing: border-box; reset에 넣기 */
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
#wrap main .bg .goal_contents li:nth-child(1) {
    background-color: #36B4E5;
}
#wrap main .bg .goal_contents li:nth-child(2) {
    background-color: #FFFFFF;
}
#wrap main .bg .goal_contents li:nth-child(3) {
    background-color: #F3C300;
}

#wrap main .bg .goal_contents li * {
    display:block; /* 서랍장 */
}
#wrap main .bg .goal_contents li img {
    display: inline-block;
}
#wrap main .bg .goal_contents li span {
    font-size: 1.63rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 10px;
}
#wrap main .bg .goal_contents li:nth-child(2) span {color: #000;}

#wrap main .bg .strategy_contents {
    margin-bottom: 100px;
    /* width: max-content; */
    /* margin: 0 auto; */
    display: inline-block;
}
#wrap main .bg .strategy_contents::after {
    clear:both; display:block; content:'';
}
#wrap main .bg .strategy_contents li {
    background-color: #eee;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /* display: inline-block; */
    margin-left: -10px;
    line-height: 1.5;
    /* padding-top: 47.5px; */
    padding: 47.5px 15px 0 15px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    float: left;
}
#wrap main .bg .strategy_contents li:nth-child(5) {
    padding: 34px 15px 0 15px;
}

#wrap main .bg .strategy_contents li h3 {
    font-size: 1.13rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: underline;
    /* 테두리vs밑줄 디자인 차이 */
    /* 테두리(border) 별도 색상, 굵기, 여백 추가 입력 가능 */
    /* 밑줄(underline) 별도 굵기, 여백 불가능. 글자와 동일한 색상만 가능 */
    text-transform: capitalize;

}
#wrap main .bg .strategy_contents li p {
    color: #555555;
}
/* =======================================footer */
#wrap footer {
    background: aqua;
}
/* 왼쪽 */
#wrap footer .ft_left {
    background-color: yellow
}
#wrap footer .ft_left .ft_menu {
    background-color: lime
}
#wrap footer .ft_left .ft_menu a {}
#wrap footer .ft_left .ft_menu a em {}
#wrap footer .ft_left .ft_menu a img {}
#wrap footer .ft_left address {
    background-color: aquamarine
}
#wrap footer .ft_left address em {}
#wrap footer .ft_left p {}
/* 오른쪽 */
#wrap footer .ft_right {
    background-color: coral;
}
#wrap footer .ft_right .family {}
#wrap footer .ft_right .family img {}
#wrap footer .ft_right .site {}
#wrap footer .ft_right .site img {}