#wrap {
}
#wrap header {
    background-color: rgba(0,0,0,0.1);
    padding: 21px 80px;
    /* header는 모두 사이트에서 높이 고정되는 경우가 90%이상이다. */
    height: 80px;
    position: fixed;
    /* 크기를 내용만큼만 인식해서 너비를 다시한번 기본 값으로 설정해놔야함 */
    width: 100%; left: 0; top: 0; z-index: 999;
}
/* #wrap header::after {
    clear: both; display: block; content: '';
} */
 /* 헤더에 높이가 정해져있어서 필요없음 */
#wrap header h1 {
    float: left;
    padding-top: 3px;
}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    float:right;
}
#wrap header nav ul {
    overflow: hidden;
    /* 엥? */
}
#wrap header nav ul li:nth-child(4) {
    margin: 0;
    padding: 0;
}
/* 두번째 left라서 26번줄에 overflow 넣음 */
#wrap header nav ul li {
    float: left;
    padding: 10px 0;
    margin-right: 80px;
}
#wrap header nav ul li a {
    font-size: 1.13rem;
    font-weight: 600;
    color: #FFFFFF;
}
/* 클릭영역생각하면 a */
/* a는 inline이기도해서 오류.. */
#wrap header nav ul li:nth-child(4) a {
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    padding: 10px 20px;
    display: block;
}
/* ------------------------------------------main */
/* 공통=========================================공통 */
#wrap main {
}
#wrap main .container {
}
#wrap main .container .contents {
    width: 1440px; height: 100vh; /* 부모가 따라오게 함 */
    margin: 0 auto;
    position: relative;
    background-color: rgba(255,255,255,0.3); /* 제거용 */
}
#wrap main .container .contents .txt {
    background-color: palegreen}
#wrap main .container .contents .txt .sub_title {
    font-size: 1.56rem;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: -0.02rem;
    margin-bottom: 20px;
}
#wrap main .container .contents .txt h1 {
    font-size: 4.38rem;
    font-weight: 700;
    line-height: 1.3;
    color: #FFFFFF;
}
/* reset 때문에 상속이 안댐 */
#wrap main .container .contents .txt h1 span{
    font-size: 4.38rem;
    font-weight: 700;
    line-height: 1.3;
    color: #5EE1FF;
}
#wrap main .container .contents .txt h1+p {
    font-size: 1.56rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02rem;
    color: #FFFFFF;
    margin: 20px 0;
}
/* ========================.pay */
/* 첫번째 페이지 */
#wrap main .pay {
    background-image: url(../images/row1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#wrap main .pay .contents {
    padding-top: 231px;
}
#wrap main .pay .contents .txt {}
#wrap main .pay .contents .txt h1 {}
#wrap main .pay .contents .txt h1 span{}
#wrap main .pay .contents .txt p {}
#wrap main .pay .contents .txt .bnr_btn_wrap {
}
#wrap main .pay .contents .txt .bnr_btn_wrap > * {
    margin-right: 10px;
}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev {
}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev img {

}
#wrap main .pay .contents .txt .bnr_btn_wrap .progress {
    display: inline-block;
    height: 2px; width: 100px;
    background-color: rgba(255,255,255,0.3);
    position: relative;
    bottom: 12px;
}
#wrap main .pay .contents .txt .bnr_btn_wrap .progress:nth-child(4) {background-color: rgba(255,255,255,1);}

#wrap main .pay .contents .txt .bnr_btn_wrap .pause {
}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause img {


}      
#wrap main .pay .contents .txt .bnr_btn_wrap .next {
}
#wrap main .pay .contents .txt .bnr_btn_wrap .next img {
}

/* scroll===================================================== */
#wrap main .pay .contents .scroll {
    position: absolute; bottom:43px; right:0;
}
#wrap main .pay .contents .scroll span:nth-child(1) {
    text-transform: uppercase;
    font-size: 0.88rem;
    font-weight: 500;
    line-height: 1.3;
    color: #FFFFFF;
    /* 마진/패딩은 형제에 영향을 주니까 relative 사용 */
    position: relative;
    bottom: 6px;
    margin-right: 10px;
    
}
#wrap main .pay .contents .scroll .scroll_bg {
    display: inline-block;
    width: 12px; height: 30px;
    background-color: #555555;
    border-radius: 6rem;
    position: relative;
}
#wrap main .pay .contents .scroll .scroll_bg .bar {
    display: inline-block;
    width: 8px; height: 8px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: relative;
    top: -5px;
    left: 2px;

}
/*=================== service */
/* 두번째 페이지*/
#wrap main .service {
    background-image: url(../images/row2.jpg);
    background-size: cover;
}
#wrap main .service .contents {
}
#wrap main .service .contents::after {
    clear: both; display: block; content: '';
}
#wrap main .service .contents .txt {
    float: left;
    position: relative;
    top: 311px;
}
#wrap main .service .contents .txt h1 {
    margin: 20px 0;
}
#wrap main .service .contents .txt p {}
/* 텍스트 상자 */
#wrap main .service .contents .txt_box {
    float: right;
}
#wrap main .service .contents .txt_box .txt_box_1 {
    width: 331px; 
    background-image: url(../images/card_bg1.jpg);
    background-size: contain;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 157px;
    border-radius: 6%;
    overflow: hidden;
    padding-top: 200px;

}
#wrap main .service .contents .txt_box .txt_box_1 .txt_details {
    background-color: #FFFFFF;
    /* 이게맞나 */
    /* margin-top: 200px; */
    padding: 30px 20px 20px 20px;
}
#wrap main .service .contents .txt_box .txt_box_1 .txt_details h2 {
    font-size: 1.56rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
}
#wrap main .service .contents .txt_box .txt_box_1 .txt_details .box_info {   line-height: 1.5;
    letter-spacing: -0.02rem;
    margin: 35px 0;
    color: #555555;

}
#wrap main .service .contents .txt_box .txt_box_1 .txt_details .details {
    border-top: 1px solid #000;
    overflow: hidden;
    display: block;
}
#wrap main .service .contents .txt_box .txt_box_1 .txt_details .details span {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02rem;
    float: left;
    margin: 10px 0;
}
#wrap main .service .contents .txt_box .txt_box_1 .txt_details .details img {
    float: right;
    position: relative;
    top: 10px;
}
/* box2================================================ */
#wrap main .service .contents .txt_box .txt_box_2 {
    width: 331px;
    background-image: url(../images/card_bg2.jpg);
    background-size: contain;
    border-radius: 6%;
    display: inline-block;
    opacity: 0.6;
    position: relative;
    top: 311px;
    overflow: hidden;
    padding-top: 200px;
}
#wrap main .service .contents .txt_box .txt_box_2 .txt_details {
    background-color: #FFFFFF;
    padding: 30px 20px 20px 20px;
}
#wrap main .service .contents .txt_box .txt_box_2 .txt_details h2 {
    font-size: 1.56rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
}
#wrap main .service .contents .txt_box .txt_box_2 .txt_details .box_info {
    line-height: 1.5;
    letter-spacing: -0.02rem;
    margin: 35px 0;
    color: #555555;
}
#wrap main .service .contents .txt_box .txt_box_2 .txt_details .details {
    border-top: 1px solid #000;
    overflow: hidden;
    display: block;
}
#wrap main .service .contents .txt_box .txt_box_2 .txt_details .details span {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02rem;
    float: left;
    margin: 10px 0;
}
#wrap main .service .contents .txt_box .txt_box_2 .txt_details .details img {
    float: right;
    position: relative;
    top: 10px;
}
/*===================================== different */
/* 세번째 페이지*/
#wrap main .different {
    background-image: url(../images/row3.jpg);
    background-size: cover;
}
#wrap main .different .contents {}
#wrap main .different .contents .txt {
    text-align: center;
    padding-top: 162px;
}
#wrap main .different .contents .txt .sub_title {}
#wrap main .different .contents .txt h1 {
    
}
#wrap main .different .contents .txt h1 span {}
#wrap main .different .contents .txt h1+p {}
#wrap main .different .contents ol {
    overflow: hidden;
}
#wrap main .different .contents ol li {
    /* background-color: #fff; */
    width: 290px; height: 290px;
    border: 20px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    position: relative;
    float: left;
    margin-right: 93.33px;
    padding-top: 67px;
}
#wrap main .different .contents ol li::after {
    content: ''; display: block;
    width: 250px; height: 250px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
}
#wrap main .different .contents ol li:nth-child(4) {
    margin: 0;
} /* 마진 */
#wrap main .different .contents ol li > * {
    position: relative;
    z-index: 20;
    font-size: 1.56rem;
    font-weight: 600;
}
#wrap main .different .contents ol li .num {
    border: 1px solid #5E91FF;
    background-color: #5E91FF;
    border-radius: 39%;
    padding: 8.5px 20px;
    display: inline-block;
    color: #FFFFFF;
    position: relative;
    left: 90px;
}
#wrap main .different .contents ol li h2 {
    letter-spacing: -0.02rem;
    line-height: 1.3;
    margin-top: 10px;
    text-align: center;
}
/* ====================question */
/* 네번째 페이지*/
#wrap main .question {
}
#wrap main .question .contents {
    padding-top: 241px;
}
#wrap main .question .contents .txt {
    margin-bottom: 55px;
}
#wrap main .question .contents .txt .sub_title {
    color: #5E91FF;
}
#wrap main .question .contents .txt h1 {
    color: #000;
}
#wrap main .question .contents .q_contents {
}
#wrap main .question .contents .q_contents a {
    padding: 20px;
    overflow: hidden;
    display: block;
    background-color: #eee;
    border-radius: 10px;
}
#wrap main .question .contents .q_contents a:nth-child(2) {
    margin: 20px 0;
}
#wrap main .question .contents .q_contents a .q_left {
    float: left;
    width: 80%;
}
#wrap main .question .contents .q_contents a .q_left .category {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: -0.02rem;
}
#wrap main .question .contents .q_contents a .q_left img {
    margin: 0 20px;
    position: relative;
    top: 5px;
}
#wrap main .question .contents .q_contents a .q_left em {
    font-size: 1.56rem;
    line-height: 1.5;
    letter-spacing: -0.02rem;
}
#wrap main .question .contents .q_contents a .q_down {
    float: right;
}
#wrap main .question .contents .q_contents a .q_down img {
    position: relative;
    top: 6px;
}