body, html, h1, h2, h3, h4, h5, h6,
p, div, dl, dt, dd, ul, ol, li, video, blockquote, hr, a, address,
span, em, strong, img, sub, sup, del, s, q, mark, code,
header, nav, aside, main, footer, article, section {
    line-height: 1.0; font-size: 16px; font-weight: normal; font-family: 'Noto Sans KR'; margin: 0; padding: 0; font-style: normal;
    box-sizing: border-box;
}

ol, li, ul {list-style: none;}
a {color: black; text-decoration: none;}