main {
    width: 612px;    
    margin: 41px auto 0;
    padding: 0 0 100px;
}
main h1 {text-align: center; margin-bottom: 41px;}
main h1 a {}
main h1 a img {}
/* =====================================가입 약관 */
main .join_law {
    background-color: #fff; height: 200px; overflow:auto; 
    padding: 10px; border-radius: 10px; margin-bottom: 54px;
}
main .join_law * {font-size: 0.75rem;}
main .join_law h2 {margin-bottom: 38px;}
main .join_law h3 {margin-bottom: 7px;}
main .join_law p {margin-bottom: 20px; line-height: 1.4;}
/* =====================================가입 양식 */
main #joinFrm {}
/* =====================================공통디자인 */
main #joinFrm dl {
    overflow: hidden;
}
main #joinFrm dl dt {
    width: 156px;
    letter-spacing: -0.02rem;
    float: left;
    clear: both;
    padding-top: 11px;
}
main #joinFrm dl dt .essential {}
main #joinFrm dl dd {
    width: calc(100% - 156px);
    float: right;
    margin-bottom: 10px;
    overflow: hidden;
}
main #joinFrm dl dd input[name^=user] {
    background-color: #fff;
    border: 1px solid #AAAAAA;
    padding: 10px;
    font-size: 0.88rem;
    letter-spacing: -0.02rem;
    border-radius: 5px;
    width: 300px;
}
main #joinFrm dl dd input[name^=user]::placeholder {
    color: #aaa;
}
main #joinFrm dl dd .common_btn {
    background-color: #9E00B7;
    font-size: 0.88rem;
    letter-spacing: -0.02rem;
    border-radius: 5px;
    color: #fff;
    width: 120px;
    height: 40px;
    float: right;


}
/* =====================================개별디자인 */
main #joinFrm dl dd input[name$=id] {}
main #joinFrm dl dd .redundancy_btn {}
main #joinFrm dl dd input[name$=pw_re] {}
main #joinFrm dl dd input[name$=name] {}
main #joinFrm dl dd input[name$=email] {}
main #joinFrm dl dd .mail_redundancy_btn {}
main #joinFrm dl dd select[name=agency] {
    width: 50px; height: 40px; padding:9px;
    font-size: 0.75rem;
    background-image: url(../images/kurly/arrow_drop_down.png);
    background-repeat:no-repeat;
    /* x/y축 */
    background-position: 90% center;
    border-radius: 5px;
    border: 1px solid #aaa;
    /* background: url(../images/kurly/arrow_drop_down.png) no-repeat 35px; */
}
main #joinFrm dl dd select[name=agency] option {

}
main #joinFrm dl dd input[name$=num] {width: 245px;}
main #joinFrm dl dd .authen_get_btn {
    background-color: #ccc;
    border: none;
    
}
main #joinFrm dl dd .address_search {
    display: block;
    width: 300px;
    letter-spacing: -0.02rem;
    border: 1px solid #9E00B7;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}
main #joinFrm dl dd .address_search+p {
    font-size: 0.88rem;
    letter-spacing: -0.02rem;
    color: #aaa;
    margin-top: 8px;
}
main #joinFrm dl dd label:nth-child(1) {padding-left: 37px;}
main #joinFrm dl dd label:nth-child(2) {margin: 0 30px;}
main #joinFrm dl dd label {padding: 10px; display: inline-block;}
main #joinFrm dl dd label input[name=gender] {}
main #joinFrm dl dd label span {
    background-image: url(../images/kurly/gender_unchecked.png);
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left:20px ; font-size: 0.88rem;
    letter-spacing: -0.02rem;
}
/* =---==================================성별 활성화 기준 */
main #joinFrm dl dd label input[name=gender]:checked+span {
    background-image: url(../images/kurly/gender_checked.png);
    background-repeat: no-repeat;
}
/* =---==================================생년월일 */
main #joinFrm dl dd .birthday_g {
    background-color: #fff;
    border: 1px solid #9E00B7;
    border-radius: 5px; width: 300px; padding: 10px 0;
    text-align: center;
}
main #joinFrm dl dd .birthday_g input {
    width: 29px;
    font-size: 0.88rem;
    text-align: center;
}
main #joinFrm dl dd .birthday_g input::placeholder {color: #aaa;}
main #joinFrm dl dd .birthday_g span {}
main #joinFrm dl dd .birthday_g span img {}
/* =---==================================가입하기 */
main #joinFrm .btn {
    text-align: center; margin-top: 54px;
    
}
main #joinFrm .btn .join_btn {
    color: #fff; border-radius: 10px;
    width: 200px; padding: 10px 0;
    font-size: 0.88rem; letter-spacing: -0.02em;
}